{% extends 'base.html' %}
{% block title %}Home{% endblock title %}
{%block body %}
<div class="con">
  <div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="false">
    <div class="carousel-indicators">
      <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
      <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
      <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
    </div>
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="https://www.hdwallpapers.in/download/god_of_war_2018_ps4_4k-3840x2160.jpg" height="600" width="400" class="d-block w-100" alt="...">
        <div class="carousel-caption d-none d-md-block">
          <h5>God of war-5</h5>
          <p>our super natural power kratos going to kill enemies</p>
        </div>
      </div>
      <div class="carousel-item">
        <img src="https://hdqwalls.com/wallpapers/spiderman-ps4-pro-game-it.jpg" height="600" width="400" class="d-block w-100" alt="...">
        <div class="carousel-caption d-none d-md-block">
          <h5>Spider man</h5>
          <p>Spider man swinging around cities</p>
        </div>
      </div>
      <div class="carousel-item">
        <img src="https://images.wallpapersden.com/image/download/cyberpunk-2077-game_a2prZmqUmZqaraWkpJRnamtlrWZpaWU.jpg"height=
        "600" width="400" class="d-block w-100" alt="...">
        <div class="carousel-caption d-none d-md-block">
          <h5>Cyber punk-2077</h5>
          <p>The world in the future</p>
        </div>
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
</div>
<div class="album py-5 bg-light">
  <div class="container my-3">
    <h1 class="my-2 text-center">Select the game you wanted to buy</h1>
   

    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
      <div class="col">
        <div class="card shadow-sm">
          <img src="https://1.bp.blogspot.com/-znVg5UZzECE/X8ufjM2uquI/AAAAAAAABZo/nm5YnHmUkoIiUBkzoefUgNU6Zj2qeW-ZQCLcBGAsYHQ/s1920/439638.jpg"height="230" width="100" class="d-block w-100" alt="...">
          <div class="card-body">
            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
            <div class="d-flex justify-content-between align-items-center">
              <div class="btn-group">
                <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
              </div>
              <small class="text-muted">9 mins</small>
            </div>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card shadow-sm">
          <img src="https://images7.alphacoders.com/708/thumb-1920-708308.jpg"height="230" width="100" class="d-block w-100" alt="...">
          <div class="card-body">
            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
            <div class="d-flex justify-content-between align-items-center">
              <div class="btn-group">
                <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
              </div>
              <small class="text-muted">9 mins</small>
            </div>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card shadow-sm">
          <img src="https://th.bing.com/th/id/R.a1963ece821cb44d2e4b8f6e39c23ffd?rik=T%2bsnftzFELfR%2bw&riu=http%3a%2f%2fallhdwallpapers.com%2fwp-content%2fuploads%2f2015%2f05%2fMortal-Kombat-6.jpg&ehk=iVla0UQ9oKkoMgbNqQvLhc8fooRSwCraZ0wref6Wk10%3d&risl=&pid=ImgRaw&r=0"height="230" width="100" class="d-block w-100" alt="...">

          <div class="card-body">
            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
            <div class="d-flex justify-content-between align-items-center">
              <div class="btn-group">
                <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
              </div>
              <small class="text-muted">9 mins</small>
            </div>
          </div>
        </div>
      </div>

      <div class="col">
        <div class="card shadow-sm">
          <img src="https://cdn.wallpapersafari.com/94/32/OV7Nwf.jpg"height="230" width="100" class="d-block w-100" alt="...">

          <div class="card-body">
            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
            <div class="d-flex justify-content-between align-items-center">
              <div class="btn-group">
                <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
              </div>
              <small class="text-muted">9 mins</small>
            </div>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card shadow-sm">
          <img src="https://th.bing.com/th/id/R.fd5fc9214f13871973c508def55bc64f?rik=OiqjBsYzJ2pgfA&riu=http%3a%2f%2fhdqwalls.com%2fwallpapers%2f2018-forza-horizon-4-4k-dc.jpg&ehk=ThdXt05H67NbNT%2ffUCSPugABFLKJxWWmEy0yzcW%2bob4%3d&risl=1&pid=ImgRaw&r=0"height="230" width="100" class="d-block w-100" alt="...">          

          <div class="card-body">
            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
            <div class="d-flex justify-content-between align-items-center">
              <div class="btn-group">
                <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
              </div>
              <small class="text-muted">9 mins</small>
            </div>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card shadow-sm">
          <img src="https://1.bp.blogspot.com/-hVlkUc7B7GU/X5BdTjEMKcI/AAAAAAAAF4E/CEySnXuc0Lk2uSojGLaxhVLK9sHZ2lSDQCLcBGAsYHQ/w1200-h630-p-k-no-nu/maxresdefault.jpg"height="230" width="100" class="d-block w-100" alt="...">

          <div class="card-body">
            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
            <div class="d-flex justify-content-between align-items-center">
              <div class="btn-group">
                <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
              </div>
              <small class="text-muted">9 mins</small>
            </div>
          </div>
        </div>
      </div>

     
    
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{%endblock body%}